<div class="mainCont">
 
    
    <h1>OUR DONUTS ARE MADE FRESH THROUGH THE DAY</h1>
    
    <h2>Choose an Order Option</h2>
    
    <br>
    <div class="homebuttons">
    <button class="headbutton3" type="button"><%= link_to 'Pick Up', items_path %></button> 
    <button class="headbutton4" type="button"><%= link_to 'Delivery', items_path %></button>
    </div>
</div>
